name: Tests

on:
  push:
    paths-ignore:
      - "**.md"
      - "docs/**"
    branches:
      - main
      - ci/test
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/**"
  schedule:
    - cron: "0 0 * * *"

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        php: [8.2, 8.3, 8.4]
        laravel: ["^11.44.2", "^12.4.1"]
        dependency-version: [prefer-lowest, prefer-stable]
        include:
          - laravel: "^11.44.2"
            testbench: "^9.13"
          - laravel: "^12.4.1"
            testbench: "^10.2"

    name: PHP${{ matrix.php }} - L${{ matrix.laravel }} - ${{ matrix.os }} - ${{ matrix.dependency-version }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2

      - name: Setup PHP
        uses: shivammathur/setup-php@2.32.0
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, mbstring, zip, fileinfo, pdo_sqlite
          coverage: none

      - name: Get Composer cache directory
        id: composer-cache
        shell: bash
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v4.2.0
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: dependencies-php-${{ matrix.php }}-os-${{ matrix.os }}-version-${{ matrix.dependency-version }}-composer-${{ hashFiles('composer.json') }}
          restore-keys: dependencies-php-${{ matrix.php }}-os-${{ matrix.os }}-version-${{ matrix.dependency-version }}-

      - name: Install Laravel version
        run: |
          composer require "laravel/framework:${{ matrix.laravel }}" "orchestra/testbench:${{ matrix.testbench }}" --no-interaction --no-update --dev

      - name: Install Composer dependencies
        run: composer update --${{ matrix.dependency-version }} --no-interaction --prefer-dist

      - name: migrate databases
        run: php ./vendor/bin/testbench migrate:fresh

      - name: Run unit test
        run: php ./vendor/bin/phpunit --do-not-cache-result
